In [1]:
import pandas as pd

In [2]:
training_df = pd.read_csv('test.txt', sep='\t', quotechar='~')
raw_data = pd.read_csv('pandas.txt', sep='\t', quotechar='~')

In [3]:
print(len(training_df))
training_df.head()

784

   Tweet index  Label                                         Tweet text
0            1      0  @Callisto1947 Can U Help?||More conservatives ...
1            2      1  Just walked in to #Starbucks and asked for a "...
2            3      0              #NOT GONNA WIN http://t.co/Mc9ebqjAqj
3            4      0  @mickymantell He is exactly that sort of perso...
4            5      1  So much #sarcasm at work mate 10/10 #boring 10...

In [4]:
print(len(raw_data))
raw_data.head()

784

   tweet index                                         tweet text
0            1  @Callisto1947 Can U Help?||More conservatives ...
1            2  Just walked in to #Starbucks and asked for a "...
2            3                   GONNA WIN http://t.co/Mc9ebqjAqj
3            4  @mickymantell He is exactly that sort of perso...
4            5  So much at work mate 10/10 #boring 100% #dead ...

In [ ]:
for index, row in training_df.iterrows():
    print(row["Tweet text"])

In [5]:
labels = training_df["Label"]

In [6]:
len(labels)

784

In [7]:
raw_data["Label"] = labels

In [8]:
raw_data

     tweet index                                         tweet text  Label
0              1  @Callisto1947 Can U Help?||More conservatives ...      0
1              2  Just walked in to #Starbucks and asked for a "...      1
2              3                   GONNA WIN http://t.co/Mc9ebqjAqj      0
3              4  @mickymantell He is exactly that sort of perso...      0
4              5  So much at work mate 10/10 #boring 100% #dead ...      1
..           ...                                                ...    ...
779          780  If you drag yesterday into today, your tomorro...      0
780          781  Congrats to my fav @JennyBrew & her team & my ...      0
781          782  @allkpop: Jessica sheds tears at her fan signi...      0
782          783  : al jazeera is pro Anti - #GamerGate because ...      1
783          784  ALL :ok_hand_sign: There good & bad in every o...      0

[784 rows x 3 columns]

In [9]:
training_df

     Tweet index  Label                                         Tweet text
0              1      0  @Callisto1947 Can U Help?||More conservatives ...
1              2      1  Just walked in to #Starbucks and asked for a "...
2              3      0              #NOT GONNA WIN http://t.co/Mc9ebqjAqj
3              4      0  @mickymantell He is exactly that sort of perso...
4              5      1  So much #sarcasm at work mate 10/10 #boring 10...
..           ...    ...                                                ...
779          780      0  If you drag yesterday into today, your tomorro...
780          781      0  Congrats to my fav @JennyBrew & her team & my ...
781          782      0  @allkpop: Jessica sheds tears at her fan signi...
782          783      1  #Irony: al jazeera is pro Anti - #GamerGate be...
783          784      0  #NOT ALL ðŸ‘Œ There good & bad in every occupatio...

[784 rows x 3 columns]

In [11]:
raw_data = raw_data.rename(columns={'tweet index': 'Tweet index', 'tweet text': 'Tweet text'})

In [12]:
raw_data

     Tweet index                                         Tweet text  Label
0              1  @Callisto1947 Can U Help?||More conservatives ...      0
1              2  Just walked in to #Starbucks and asked for a "...      1
2              3                   GONNA WIN http://t.co/Mc9ebqjAqj      0
3              4  @mickymantell He is exactly that sort of perso...      0
4              5  So much at work mate 10/10 #boring 100% #dead ...      1
..           ...                                                ...    ...
779          780  If you drag yesterday into today, your tomorro...      0
780          781  Congrats to my fav @JennyBrew & her team & my ...      0
781          782  @allkpop: Jessica sheds tears at her fan signi...      0
782          783  : al jazeera is pro Anti - #GamerGate because ...      1
783          784  ALL :ok_hand_sign: There good & bad in every o...      0

[784 rows x 3 columns]

In [13]:
raw_data.to_csv(r'tmp.txt', header=True, index=None, sep='\t', quotechar='~')